body {
    background: #f5f5f5;
    color: #333;
    font-family: Arial,sans-serif;
    font-size: 14px;
    display: block;
    min-width: 800px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.main-header {
    width: 100%;
    position: relative;
    display: block;
    background: #2087be;

}

.top-menu {
    width: 100%;
    float: left;
    background: #2087be;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    color: #fff;
    padding: 0 0;
    clear: both;
    height: 30px;
    margin-bottom: 5px;
}

.top-menu h1 {
    padding: 3px 15px 3px 15px;
    margin: 0;
    float: left;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    font-weight: normal;
    text-transform: none;
    display: inline-block;
    border-right: 1px solid #000;
}

.top-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    display: inline-block;
}

.top-menu li {
    display: inline-block;
    float: none;
    list-style: none;
    padding: 7px 15px 4px 15px;
}

.top-menu li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    line-height: 1.25;
}

.top-menu li:hover {
    background-color: #1d3d6a;
    cursor: hand;
}


.main-section {
    width: 100%;
    min-width: 800px;
    max-width: 1400px;
    position: relative;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    clear: both;
}

.main-section-header {
    width: 100%;
    min-width: 800px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    border: 1px solid #ccc;
}

.main-section-header header {
    padding: 5px;
    background: #fff;
    clear: both;
}

.main-section-header header label {
    float: left;
    padding: 0 5px 0 0;
    position: relative;
    text-align: left;
    width: 100px;
    word-wrap: break-word;
    font-size: 16px;
    /*line-height: 1.5;*/
}

.main-section-header header select {

}

.main-tabs {
    display: block;
    margin-top: 20px;
    padding: 0;
}

.tab-panel {
    display: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background: #fff;
}

.tabs {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tab {
    display: block;
    background: #eee;
    float: left;
    margin: 0;
    width: 100px;
}

.active-tab {
    border-bottom: 1px solid #fff;
    margin-bottom: -2px;
    position: relative;
}

.tablinks {
    display: block;
    border-top-left-radius: 3px;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 5px 10px 4px 10px;
    text-decoration: none;
    color: #afafaf;
    text-align: center;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}


.active-tab-link {
    background: #fff;
    color: #000;
    border-bottom: 1px solid #fff;
}



.main-footer {

}

