body {
    background: #f5f5f5;
    color: #333;
    font-family: Arial,sans-serif;
    font-size: 14px;
    display: block;
    min-width: 800px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.main-header {
    width: 100%;
    position: relative;
    display: block;
    background: #2087be;

}

.top-menu {
    width: 100%;
    float: left;
    background: #2087be;
    /*border-bottom: 1px solid #000;*/
    box-sizing: border-box;
    color: #fff;
    padding: 0 0;
    clear: both;
    height: 30px;
    margin-bottom: 5px;
}

.top-menu h1 {
    padding: 6px 11px 6px 11px;
    margin: 0;
    float: left;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    font-weight: normal;
    text-transform: none;
    display: inline-block;
    border-right: 1px solid #000;
}

.top-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    display: inline-block;
}

.top-menu li {
    display: inline-block;
    float: none;
    list-style: none;
    padding: 7px 15px 6px 15px;
}

.top-menu li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    /*line-height: 1.25;*/
    font-size: 12px;
}

.top-menu li:hover {
    background-color: #1d3d6a;
    cursor: hand;
}


.main-section {
    width: 100%;
    min-width: 800px;
    max-width: 1400px;
    position: relative;
    display: block;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    clear: both;
}

.main-section-header {
    width: 100%;
    min-width: 800px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    border: 1px solid #000;
}

.main-section-header header {
    padding: 5px;
    background: #fff;
    clear: both;
}

.main-section-header header label {
    float: left;
    /*padding: 0 5px 0 0;*/
    padding: 0;
    position: relative;
    text-align: left;
    width: 94px;
    word-wrap: break-word;
    font-size: 14px;
    /*line-height: 1.5;*/
}

.main-tabs {
    display: block;
    margin-top: 10px;
    padding: 0;
}

.tab-panel {
    display: none;
    /*padding: 5px;*/
    padding: 0;
    /*margin: 0;*/
    /*border: 1px solid #ccc;
    background: #fff;*/
    /*margin-left: 100px;*/
}

.horizontal-tab-panel {
    display: none;
    padding: 10px 5px 10px 10px;
    margin-left: 100px;

    border: 1px solid #000;
    background: #fff;

    min-width: 1100px;
    max-width: 1271px;
    min-height: 600px;
}

.tab-panel-content {
    display: block; /* none */
    min-width: 1100px;
    max-width: 1400px;
    padding: 0;
    margin: 0;
    /*border: 1px solid #ccc;*/
    /*background: #fff;*/
}

.tabs {
    display: inline-block;
    min-width: 1100px;
    max-width: 1300px;
    vertical-align: top;
    width: 100%;
    margin: 0 0 0 100px;
    padding: 0;
}

.horizontal-tabs {
    display: block;
    vertical-align: top;
    float: left;
    width: 100px;
    margin: 0;
    /*padding: 0;*/
    padding: 0;
    /*margin-top: 1px;*/
    /*margin-bottom: 1px;*/
}

.tab {
    display: block;
    background: #eee;
    float: left;
    margin: 0;
    width: 100px;
}

.horizontal-tab {
    display: inline-block;
    background: #eee;
    float: left;
    margin: 0;
    width: 100px;
}

.active-tab {
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    margin-bottom: -2px;
    position: relative;
}

.active-horizontal-tab {
    border: 1px solid #000;
    border-right: 1px solid #fff;
    margin-right: -2px;
    position: relative;
}

.tablinks {
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    color: #afafaf;
    text-align: center;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.horizontal-tablinks {
    display: block;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
    border-right: none;
    padding: 4px 10px 5px 10px;
    text-decoration: none;
    color: #afafaf;
    text-align: center;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.active-tab-link {
    background: #fff;
    color: #df0003;
    border-bottom: 1px solid #fff;
}

.active-horizontal-tab-link {
    background: #fff;
    color: #df0003;
    border-right: 1px solid #fff;
    margin-right: -2px;
}

.fields-group {
    position: relative;
    display: block;
    box-sizing: border-box;
    float: left;
    /*clear: both;*/
    padding: 4px 0 4px 0;
    margin: 0 5px;
    /*margin: 0;
    padding: 0;*/
    /*width: 100%;*/
    /*width: 500px;*/
}

.test-info-left-side {
    position: relative;
    display: block;
    width: 480px;
}

.fields-group label {
    position: relative;
    display: inline;
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
    width: 80px;
    word-wrap: break-word;
    color: #707070;
    font-size: 12px;
}

.fields-group input {
    position: relative;
    display: inline;
    float: left;
    width: 480px;
    padding: 4px 5px;
    /*border: 1px solid #ccc;*/
   /* border-radius: 3px;*/
}

.fields-group textarea {
    position: relative;
    display: inline;
    float: left;
    width: 480px;
    padding: 4px 5px;
    resize: none;
    overflow-y: auto;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
    /*box-sizing: border-box;
    font-size: inherit;*/
}

.test-steps {
    position: relative;
    display: block;
    float: left;
    clear: both;

    /*width: 800px;*/ /*!!!!!!!!!!!*/
    margin: 0;
    padding: 0;
}

.test-steps-view-table {
    position: relative;
    display: table;
    /*width: 1200px;*/
    min-width: 1020px;
    max-width: 1250px;
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
    overflow: scroll;
    font-size: small;
    vertical-align: top;
    margin: 10px 0 0 0;
    /*border-color: grey;*/
}

.test-steps-edit-table {
    position: relative;
    display: table;
    /*width: 1200px;*/
    min-width: 1020px;
    max-width: 1250px;
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
    overflow: scroll;
    font-size: small;
    vertical-align: top;
    margin: 25px 0 0 0;
    /*border-color: #000;*/
}

.test-steps-view-table thead {

    /*border-bottom: 1px solid #ccc;*/ /*!!!!!!!!*/

    display: table-header-group;
    vertical-align: middle;
    /*border-color: inherit;*/
    border-collapse: collapse;
    word-wrap: break-word;
    font-size: small;
    margin: 0;
    padding: 0;

    /*max-height: 25px;*/
}

.test-steps-view-table thead tr {
    position: relative;
    display: table-row;
    vertical-align: inherit;
    /*border-color: inherit;*/
    padding: 0;
    margin: 0;
    height: 25px;
    /*max-height: 25px;*/
}

.test-steps-view-table th {
    /*width: 25%;*/
    /*max-width: 250px;*/ /* !!!!!!!! */
    /*max-height: 25px;*/
    /*padding: 0 0 10px 0;*/
    padding: 0;
    margin: 0;
}

.test-steps-view-table td,
.test-steps-edit-table td {
    vertical-align: top;
    /*width: 25%;*/
    /*max-width: 250px;*/ /* !!!!!!!!! */
    /*max-height: 25px;*/
    padding: 3px;
    /*margin: 0 5px; */
    text-align: left;
    display: table-cell;

    /*border-top: 1px solid #ccc;
    border-left: 1px solid #ccc; /*TEMP*/

    /*border: 1px solid #ccc;*/

    /*border-color: #000;*/
}

.small-col {
    max-width: 25px;
}

.test-steps-view-table tbody,
.test-steps-edit-table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    position: relative;
    /*border-color: #000;*/
}

.test-steps-view-table tbody.test-steps-view tr td {
    border: 1px solid #ccc;

}

.test-steps-view-table tbody.test-steps-view tr td textarea {
    background: #ccc;
    height: 100%;
}

.test-steps-view-table tbody.test-steps-edit {
    /*border-color: #000;*/
}

.test-steps-view-table tr {
    height: 65px;
    /*border-color: #000;*/
}

.test-steps-view-table textarea,
.test-steps-edit-table textarea {
    position: relative;
    display: inline-block;
    width: 220px;
    /*height: 150px;*/
    /*min-width: 150px;*/
    resize: none;
    background-color: white;
    user-select: text;
    flex-direction: column;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start;

}

textarea.step-attachments {
    position: relative;
    display: inline;
    float: left;
    min-height: 48px;
    max-width: 165px;
    resize: none;
}

.attach {
    float: left;
   /* margin-right: 10px;*/
    cursor: pointer;
    display: block;
    position: relative;
    height: 20px;
    width: 130px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: text-top;
    background: #000;
    color: #fff;
}

textarea.active {

}

textarea.passive {
    background-color: #ccc;
    border-color: #fff;
}

.test-steps-view-table input[type="button"] {
    height: 25px;
    width: 115px;

    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;

    font-size: 11px;

    /*margin: 10px 0 0 10px;*/
    margin-right: 10px;
    margin-bottom: 5px;
    /*padding: 2px 5px;*/
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    align-items: flex-start;
    text-align: center;
}

.draghandle {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 100%;
    min-height: 24px;
    cursor: move;
    visibility: visible;
    background: #ccc;
}

.step-number {
    display: block;
    position: relative;
    word-wrap: break-word;
    max-width: 20px;
    white-space: pre-wrap;
    /*margin-top: auto;
    margin-bottom: auto;*/
    margin: auto;
    padding: 0 5px 0 5px;
}

.view-content {
    display: block;
    position: relative;
    word-wrap: break-word;
    max-width: 200px;
    /*padding: 0 5px 0 5px;*/
    padding: 0;

}

.view-content p {
    white-space: pre-wrap;
}

.operations-column {
    /*border-left: 1px solid #000;*/
}

.view-commands {
    position: relative;
    display: block;
    width: 200px;
    white-space: nowrap;
    /*margin: 0 0 0 5px;*/
    margin: 0;
    padding: 0;
}

.test-steps-icons {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}

.icon {
    position: relative;
    display: block;
    clear: both;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    overflow: hidden;
    padding: 0;

    text-align: center;
    vertical-align: text-top;
    /*background: #000;*/
    /*color: #8d8d8d;*/
}

.red {
    background: red;
    color: yellow;
}

.yellow {
    background: yellow;
    color: black;
}

.green {
    background: green;
    color: yellow;
}


.main-footer {
    width: 100%;
    position: relative;
    display: block;
    background: #2087be;
    margin-top: 10px;
}

